@font-face {
  font-family: 'TT Lakes';
  src:local("TT Lakes"),  url("/fonts/TTLakes-Bold.woff");
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body  {
  font-family: "TT Lakes";
  margin:0;
  text-decoration: none;
  position: relative;
}
.header {
  background-image:linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
.title {
  font-size: 16px;
  color: #7E7E82;
  text-transform: uppercase;
  padding-left:32px;
  padding-top:16px;
  padding-bottom: 16px;
  margin:0;
}
.more {
  display:flex;
  width: 180px;
  padding-left: 33px;
  padding-bottom: 34px;
  column-gap: 8px;
}
.more-text {
  font-family: TT Lakes;
  font-weight: 500;
}
.more-img {
  width: 24px;
  height: 24px;
}
.more a {
  text-decoration: none;
  color:black;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  padding:24px 33px 24px 33px;
  column-gap: 32px;
  row-gap: 16px;
}
.menu-icons {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #EAEAEA; 
}
.menu-icons-swiper {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #EAEAEA; 
  margin: 0 auto;
}
.main {
  background-color:  #F8F8F8;
}
.menu-icons__img {
  align-self: center;
  padding-left: 16px;
}
.menu-icons__go {
  align-self: center;
  padding-right: 16px;
}
.menu-main {
  display: flex;
  flex-wrap: wrap;
  padding:24px 33px 24px 33px;
  column-gap: 32px;
  row-gap: 16px;
}
#hidden {
  display: none;
}

html:root {
  --swiper-theme-color: #909397;
}
@media (min-width: 577px) {
  .mySwiper {
    display: none;
 } 
} 
@media (max-width: 576px) {
  .menu-main,
  .more {
    display: none;
  }
}